html {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page1,
.page3,
.page5 {
  height: 80%;
  margin: 0;
  background-color: #454772;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2,
.page4 {
  height: 80%;
  margin: 0;
  background-color: #1b7517;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  align-items: center;
  font-size: 100px;
  margin: 0;
}
ul {
  list-style-type: none;
  display: flex;
  margin-top: 40px;
}
li {
  font-size: 15px;
  margin-right: 3px;
}
