html {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  border: 0.5rem solid;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}
li {
  background: #58a0af;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.8rem;
}

/* media query between 760px 1010px */
@media (min-width: 760px) and (max-width: 1100px) {
  /* li:nth-child(4){
      grid-area: 3 /1 /2/4;
  }   */
  ul {
    grid-template-areas:
      "A B C"
      "D D D";
  }

  li:nth-of-type(1) {
    grid-area: A;
  }

  li:nth-of-type(2) {
    grid-area: B;
  }

  li:nth-of-type(3) {
    grid-area: C;
  }

  li:nth-last-of-type(4) {
    grid-area: D;
  }
}
